
<section class="fon">
        <a href="SamProgram7M.html" class="btn btn-primary btn-lg">Теория</a></br>
        <a href="Test7MNvo_2010.html" class="btn btn-primary btn-sm">Тест по Математика(НВО) 2010г. </a></br>
        <a href="Test7MNvo_2011.html" class="btn btn-primary btn-sm">Тест по Математика(НВО) 2011 г.</a></br>
        <a href="Test7MNvo_2012.html" class="btn btn-primary btn-sm">Тест по Математика(НВО) 2012 г.</a></br>
        <a href="Test7MNvo_2013.html" class="btn btn-primary btn-sm">Тест по Математика(НВО) 2013 г.</a></br>
        <a href="Test7MNvo_2014.html" class="btn btn-primary btn-sm">Тест по Математика(НВО) 2014 г.</a></br>
        <a href="Test7MNvo_2015.html" class="btn btn-primary btn-sm">Тест по Математика(НВО) 2015 г.</a></br>
        <a href="Test7MNvo_2016.html" class="btn btn-primary btn-sm">Тест по Математика(НВО) 2016 г.</a>
</section>

<script>
    document.body.style.backgroundImage = "url('/math2.jpg')";
</script>
